.task {
    font-family: Ubuntu, sans-serif;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    font-weight: 700;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.task:hover {
    box-shadow: 2px 2px 5px #333;
}

.id {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 10px;
    font-weight: 300;
}

.deadline {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 25px;
    font-size: 30px;
    font-weight: 300;
}

.deadline:after {
    content: ':00';
    font-size: 15px;
    position: absolute;
    top: 5px;
}

.description {
    padding: 20px 10px;
    background-color: rgb(238, 238, 238);
}

blockquote {
    padding: 5px 5px;
    border-left: 5px solid rgb(163, 163, 163);
}
